{% extends "layout.html" %}
{% block title %}{{ t.activity }} - {{ t.admin_title }}{% endblock %}
{% block content %}
<h1>{{ t.activity }}</h1>
<table>
  <thead><tr><th>{{ t.time }}</th><th>{{ t.user }}</th><th>{{ t.action }}</th><th>{{ t.device }}</th><th>{{ t.vaults }}</th><th>{{ t.ip }}</th><th>{{ t.user_agent }}</th></tr></thead>
  <tbody>
  {% for a in activities %}
    <tr>
      <td>{{ a.timestamp }}</td>
      <td>{{ a.username }}</td>
      <td>{{ a.action }}</td>
      <td>{% if let Some(device_name) = a.device_name %}{{ device_name }}{% endif %}</td>
      <td>
        {% if let Some(vault_name) = a.vault_name %}{{ vault_name }}{% endif %}
        {% if let Some(vault_id) = a.vault_id %}
        <details class="inline-details"><summary>{{ t.id }}</summary><code>{{ vault_id }}</code></details>
        {% endif %}
      </td>
      <td>{% if let Some(client_ip) = a.client_ip %}{{ client_ip }}{% endif %}</td>
      <td>{% if let Some(user_agent) = a.user_agent %}{{ user_agent }}{% endif %}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
